/*General*/
body{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

/* Nav*/

.navbar-default .navbar-collapse .navbar-nav a {
    color: white;
}
.navbar-default .navbar-header a {
    color: white;
}
nav.navbar{
    position: fixed;
}
.navbar-header>a {
    color: white;
    font-weight: bold;
}
.navbar-header>a:hover {
    color:white;
    background-color: aqua;
}
.navbar-header a {
    color: white;
    font-size: 30px;;
}
.navbar-nav {
    float: right;
}
.navbar-nav>li>a {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}
.navbar-nav>li>a:hover {
    color: black;
    outline: 0ch;
    transition: all;
    background-color: aqua;
    cursor: pointer; 
}
.navbar-fixed-top {
    background-color:#00c1c1;
}
.navbar button {
    float: right;
    visibility: hidden;
}
@media (max-width:768px){
    .navbar-default .navbar-nav{
        color: #FFF!important;
    }
    .navbar button {
        visibility: visible;
        margin: 8px 15px 8px 0px;
        background-color: #ddd;
        border-radius: 4px;
        display: block;
        color: #2b2b2b;
        text-align: center;
        padding: 9px 20px 9px 20px;
        text-align: center;
        font-size: 14px;
        
    }
    .navbar .icon-bar {
        width: 30px;
        height: 2px;
        border-radius: 1px;
        display: block;
        color: #fff;
    }
    .navbar-nav {
        float: left;
    }
}
/*heading*/
.heading {
    margin-bottom: 50px;
}
.heading h2 {
    font-size: 38px;
    text-transform: uppercase;
}
.heading .heading-line {
    width: 80px;
    height: 1px;
    margin: 0 auto;
    display: block;
    background: black;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*intro*/
#myCarousel{
    height: 100vh;
}
#intro .carousel-content {
    text-align: center;
}
#intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}
.carousel-inner> .item>img {
    height: 100vh;
}
#intro p {
    width: 70%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color:#fff;
}
#intro .carousel-container {
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#intro .carousel-container h2 {
    opacity: 0;
    animation: fadeIn 2s ease-in both;
    animation-iteration-count : infinite;
}
#intro .carousel-container p {
    opacity: 0;
    animation: fadeIn 4s ease-in both;
    animation-iteration-count : infinite;
}
#intro .carousel-container a {
    opacity: 0;
    animation: fadeIn 6s ease-in both;
    animation-iteration-count : infinite;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0,-20,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
#intro .carousel-content a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 12px 32px;
    line-height: 1;
    border: 2px solid #00c1c1;
    text-decoration: none;
}
#intro .carousel-content a:hover {
    background-color: #00c1c1;
}
#intro .carousel-control-prev,
#intro .carousel-control-next {
    color: #fff;
    position: absolute;
    top: calc(50% - 15px); 
}
#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
}
/*Service*/
.w3-content img {
    width: 90%;
    align-items: center;
}
.w3-section img {
    width: 100%;
    cursor: pointer;
}
#service img {
    width: 100%;
}
.service-image li {
    display: inline-block;
    background-color: #00c1c1;
    width: 45px;
    height: 5px;
    cursor: pointer;
}
#service-text h4 {
    text-align: left;
    color: #3a3a3a;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 24px;
}
#service-text p {
    text-align: left;
    color: #3a3a3a;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 14;
}

/*About*/
#about .about-img {
    height: 350px;
    overflow: hidden;
}
#about .about-img img {
    margin-left: -15px;
    max-width: 100%;
}
#about .content h2 {
    color: #333;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}
#about .content h3 {
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    font-style: italic;
    text-align: left;
}
#about .content p {
    text-align: justify;
    line-height: 26px;
    text-indent: 10%;
}
.about-section {
    width: 100%;
    padding: 150px 0px 150px 0px;
}
/*----*/
.color h2 {
    color: #fff;
}
.color p {
    color: #eee;
}
/*image*/
#image1 {
    background-image: url(../img//parallax/1.jpg);
}
#image2 {
    background-image: url(../img/parallax/2.jpg);
}
#image1 .color {
    opacity: 0;
    animation: bottomtotop 2s ease-in both;   
    animation-iteration-count : infinite;  
}
.image2_item {
    list-style: none;   
}
.image2_item li {
    display: inline;
    opacity: 0;
    animation: bottomtotop 1s ease-in both;   
}
.image2_item li:nth-child(1) {
    animation-delay: 0.5s;
}
.image2_item li:nth-child(2) {
    animation-delay: 1s;
}
.image2_item li:nth-child(3) {
    animation-delay: 1.5s;
}
.image2_item li:nth-child(4) {
    animation-delay: 2s;
}
.home-section {
    width: 100%;
    padding: 150px 0px 150px 0px;
}
/*team*/
.team img {
    margin-bottom: 30px;
}
.team  {
    opacity: 0;
    animation: bottomtotop 2s ease-in both;  
}
@keyframes bottomtotop {
    from {
        opacity: 0;
        transform: translate3d(0,-20,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.section-heading .heading-line {
    margin:0 auto;
    display: block;
    height: 1px;
    width: 80px;
    background: #333;
    margin-top: 10px;
    margin-bottom: 30px;
}
.section-heading {
    margin-bottom: 50px;
}
.section-heading h2 {   
    font-size: 38px;
    text-transform: uppercase;
}
.section-heading p {
    text-align: center;
}
/*contactus*/
.glyphicon-home,
.glyphicon-earphone,
.glyphicon-send
{
    font-size: 3.5em;
    color: #00c1c1;
}
#contactus {
    overflow: hidden;
}
.contactus-nextwork {
    margin: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.contactus-nextwork li {
    display: inline;
    margin: 5px 5px;
}
.contactus-nextwork li a:hover span .fa-circle {
    color: black;
}

.contactus-nextwork li a i {
    transition: 0.3s;
}
#contactus h5 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #3a3a3a;
    font-family: sans-serif;
}
.fa-stack {
    color: #00c1c1;
}
/*contact-form*/
.btn-theme {
    color: white;
    background-color: #00c1c1;
}
.btn-theme:hover {
    color:#999;
    border-color: #999;
    background: transparent !important;
}
#contact-form {
    background-color: rgb(248, 248, 248);
}
#contact-form button {
    width: 100%;
    border-radius: 0;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;    
}
#name:focus, 
#email:focus, 
#subject:focus, 
#message:focus {
    border: 1px solid #00c1c1;
}
/*Work*/
#work {
    background-color: rgb(248, 248, 248);
}
#work img {
    padding-top: 10px;
    width: 100%;
}
.img-content {
    margin: 0;
}
/*back to top*/
#button_to_top{
    display: inline-block;
    background-color: #00c1c1;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    visibility: hidden;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    padding: 0px 12px 0px 12px;
}
#button_to_top.show {
    opacity: 1;
    visibility: visible;
}
#button_to_top:hover {
    cursor: pointer;
    background-color:#019090;
}

/*footer*/
footer {
    background-color: #00c1c1;
    color: #fff;
    padding: 50px 0 30px;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .img-content {
        width: 100%;
    }

    .img {
        width: 60% !important;
        margin: auto
    }
}