/*General*/
body{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

/* ================================
Navbar
================================= */
/* nav{
    position: fixed;
} */
.navbar-default .navbar-collapse .navbar-nav a{
    color: white;
}
.navbar-default .navbar-header a{
    color: white;
}
nav.navbar{
    position: fixed;
}
.navbar-header>a{
    color: white;
    font-weight: bold;
}
.navbar-header>a:hover{
    color:white;
    background-color: aqua;
}
.navbar-header a{
    color: white;
    font-size: 50px;
}
.navbar-nav{
    float: right;
}
.navbar-nav>li>a{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-nav>li>a:hover{
    color: black;
    outline: 0ch;
    transition: all;
    background-color: aqua;
    cursor: pointer; /*hien thi ban tay*/
}
.navbar-fixed-top{
    background-color:#00c1c1;
}
/*heading*/
.heading{
    margin-bottom: 50px;
}
.heading h2{
    font-size: 38px;
    text-transform: uppercase;
}
.heading .heading-line{
    width: 80px;
    height: 1px;
    margin: 0 auto;
    display: block;
    background: black;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*intro*/
#intro .carousel-content{
    text-align: center;
}
#intro h2 {
    color: black;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
#intro p {
    width: 70%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: black;
  }
#intro .carousel-container{

}
/*About*/
#about .about-img{
    height: 350px;
    overflow: hidden;
}
#about .about-img img{
    margin-left: -15px;
    max-width: 100%;
}
#about .content h2{
    color: #333;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}
#about .content h3{
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    font-style: italic;
    text-align: left;
}
#about .content p{
    text-align: justify;
    line-height: 26px;
    text-indent: 10%;
}
.about-section{
    width: 100%;
    padding: 150px 0px 150px 0px;
}
/*----*/
.color h2{
    color: #fff;
}
.color p{
    color: #eee;
}
/*image*/
#image1{
    background-image: url(../img//parallax/1.jpg);
}
#image2{
    background-image: url(../img/parallax/2.jpg);
}
.home-section{
    width: 100%;
    padding: 150px 0px 150px 0px;
}


